# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Build and cache
dist/
.cache/
*.tsbuildinfo

# Editor folders
.vscode/
.idea/

# Render local config
render.yaml
