/* Ensure body and html take full height */
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
  background-color: black;
  overflow-x: hidden; /* Disable horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  
}
/* Animated Gradient Background for Body */
/*body {
  background: linear-gradient(135deg, #121212, #1E1E1E, #1E1E1E, #121212);
  background-size: 300% 300%;
  animation: gradientBG 20s ease infinite;
  color: #F5F5F5;
}*/



section {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: visible;
  /* NEW: add below */
  background-color: transparent; /* 💡 Important! */
  z-index: 1; /* Make sure it's above background-glow */
}

canvas {
  position: absolute; /* Ensure canvas stays behind the content - Title backgorund */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.container {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  z-index: 1;
}

  
/* Hide scrollbar initially */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show scrollbar when body has class */
body.show-scrollbar ::-webkit-scrollbar {
  opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.8);
  border-radius: 50px;
  border: 2px solid #000;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9);
}

