.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    z-index: 10;
    display: flex;
    justify-content: flex-start; /* Align elements to the left */
    align-items: center;
    padding: 0 2rem;
    background: transparent;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .logo-text-container {
    margin-left: 10px;
    position: relative; /* To allow proper positioning */
  }
  
  .logo-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  
  .social-icons {
    display: flex;
    gap: 1.5rem;
    margin-left: auto; /* Align icons to the right */
  }
  
  .icon-link {
    color: white;
    font-size: 1.8rem;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-link:hover {
    color: #00bfff;
  }
  .logo-with-text {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo-text-container {
    margin-left: 10px;
    position: relative;
  }
    
  