.skills-section {
  padding: 50px;
  text-align: center;
  height: 100vh;  /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center the content vertically */
  perspective: 900px; /* Enables strong depth */
  transition: transform 0.3s ease-out;
}
.skills-container-wrapper {
  position: relative;
  right: 7%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;  /* Adjust the width of the container (percentage or specific pixels) */
  height: 100%; /* Set a specific height for the container */
  border-radius: 10px;
  transform-style: preserve-3d; /* Enable 3D transformations */
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 150px); /* Creates exactly 3 columns */
  grid-template-rows: repeat(3, 180px);  /* Creates exactly 3 rows */
  gap: 80px; /* Space between cards */
  justify-items: center; /* Centers items within the grid cells */
  align-items: center; /* Aligns items vertically */
  margin-top: 20px;
  width: 100%; /* Ensures the container takes full width */
  max-width: 800px; /* Optional: Limits max width for better alignment */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -95px;
  top: 100px;
}
