.skills-section {
  padding: 50px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Initially below */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition for opacity and transform */
}

/* When section becomes visible, apply animation */
.skills-section.animate {
  opacity: 1;
  transform: translateY(0); /* Move up when in view */
}

.skills-container-wrapper {
  position: relative;
  right: 7%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 180px);
  gap: 80px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 15px;
  top: 100px;
}
