.skills {
    background: #111;
    padding: 50px 0;
    text-align: center;
  }
  
  .skills-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 30px;
    font-family: 'CPTS', sans-serif;
  }
  
  .skills-3d-graph {
    width: 100%;
    height: 400px; /* You can adjust this as needed */
    margin-top: 30px;
  }
  